<!DOCTYPE html>
<html>

    <head>
        <%- include ("../layouts/includes/header.ejs") %>
    </head>

    <body>

        <!-- CONTENT  -->
        <div class="container w-50">
            <%- include ("../layouts/listTodo.ejs") %>
        </div>

    </body>

    <!-- SCRIPT -->
    <%- include ("../layouts/includes/scriptLink.ejs") %>

</html>