body,
html {
    height: 100%;
    margin-bottom: 10em;
    font: 15px Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

.my-card {
    background-color: #454d55;
}

.table .my-btn {
	text-align: center;   
 }